#facebook-wrapper{

}

#header{
  /* facebook blue */
  background-color: #3B5998;
}

#header-inner{
  max-width: 900px;
  margin: auto;
  /* This next thing will force the parent to see the size of the floating child */
  overflow: hidden;
}

#fb-logo,#fb-search{
  float: left;
  margin-left: 10px;
}